<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/styles/style.css" />
		<title>Students List</title>
	</head>

	<body>
		<header>
			<h1>Students List</h1>
		</header>

		<main>
			<a href="/create" class="create-link">Create New Student</a>
			<br />

			<ul class="students-list">
				<% students.forEach(student => { %>
				<li>
					<div class="student-info">
						<strong><%= student.person.name %></strong>
						from <strong><%= student.institute.name %></strong>, enrolled in
						<strong><%=student.course.name %></strong>
					</div>

					<a href="/<%= student.id %>/delete" class="delete-link">Delete</a>
				</li>
				<% }); %>
			</ul>
		</main>
	</body>
</html>
